<div class="card-profile">
  <h2 class="profile mt-4">Profile Page</h2>

  <div class="banner-profile mt-3">
    <%= image_tag @user.avatar, class: "card-event-avatar" %><br/><br/>
    <%= @user.user_name %> <i class="fas fa-pencil-alt"></i><br/>
  </div>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :address,
                required: false %>
    <%= f.input :bio,
                hint: "leave it blank if you don't want to change it",
                required: false %>
    <%#= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<p>Delete my account <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<p class="mt-3"><%= link_to "Back", :back %></p>
