<div class="chatrooms-page">
  <h1>Messages</h1>

  <%if @chatrooms.empty? %>
    <%= "You have no messages" %>
  <% end %>

    <% @chatrooms.each do |chatroom| %>
    <% if chatroom.messages.empty? %>
    <% else %>
      <%= link_to chatroom_path(chatroom), class:"card-message position-relative", id: "chatroom-#{chatroom.id}" do%>
        <% if chatroom.event %>
          <%= cl_image_tag chatroom.event.user.avatar.key, class: "card-event-avatar" %>
          <div class="card-event-textcontent">
            <div class="card-message-username"><%= chatroom.event.title %></div>
            <div class="card-message-content"><%= chatroom.messages.last.content %></div>
          </div>
          <div class="card-message-locationandtimeofday">
            <div class="card-message-date"><%=chatroom.messages.last.created_at.strftime("%-d/%m/%y")%></div>
          </div>
        <% else %>
          <%= cl_image_tag chatroom.other_person(current_user).avatar.key, class: "card-event-avatar" %>
          <div class="card-event-textcontent">
            <div class="card-message-username"><%= chatroom.other_person(current_user).user_name %></div>
            <div class="card-message-content"><%= chatroom.messages.last.content %></div>
          </div>
          <div class="card-message-locationandtimeofday">
            <div class="card-message-date"><%=chatroom.messages.last.created_at.strftime("%-d/%m/%y")%></div>
          </div>
        <% end %>
        <div class="notification <%= 'empty' if chatroom.messages.where(read: false).where.not(user: current_user).count.zero? %>"><%= chatroom.messages.where(read: false).where.not(user: current_user).count %></div>
      <% end %>
    <% end %>
  <% end %>
</div>
