<!-- app/views/users/show.html.erb -->
<% content_for :meta_title, "#{@user.user_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.bio %>
<% content_for :meta_image, cl_image_path(@user.avatar.key) %>

<div>
  <div class="mt-3">
    <%= link_to "< Back", :back, class:"back-btn" %>
  </div>
  <div class="card-profile">
    <div class="banner-profile mt-3">
      <%= cl_image_tag @user.avatar.key, class: "avatar-square" %>
    </div>
  </div>
  <div class="card-profile-details">
    <h2 class="text-justify text-center mt-3"><%= @user.user_name %></h2>
    <p class="text-justify text-center main-p"><%= @user.bio %></p>
    <div class="d-flex justify-content-center">
      <div class="profile-page-card p-4">
        <h2 class="profile-number"><%= @user.joined_events.size + @user.events.size %></h2>
        <p class="profile-line">Events</p>
      </div>
      <div class="profile-page-card p-4">
        <h2 class="profile-number"><%= @user.friends.size %></h2>
        <p class="profile-line">Friends</p>
      </div>
    </div>
    <div class="card-profile-bottom mt-2">
      <h2 class="active-header"> Activity </h2>
      <div class="active-bars">
        <%= image_tag "mini-logo.png", class:"active-image"%>
        <% if @user.joined_events.size + @user.events.size == 1 %>
          <%= image_tag "active_3.png", class:"bar-image" %>
        <% elsif @user.joined_events.size + @user.events.size == 2  %>
          <%= image_tag "active_2.png", class:"bar-image" %>
        <% elsif @user.joined_events.size + @user.events.size > 2  %>
          <%= image_tag "active_1.png", class:"bar-image" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <h2 class="btn-purple join-btn mt-5">
    <% if @user == current_user %>
     <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: "text-white" %>
    <% elsif !Popular::Friendship.find_by(friend: [@user, current_user], popular_model_id: [@user, current_user]) %>
      <%= link_to 'Follow', user_friendships_path(@user), method: :post, class: "text-white" %>
    <% else %>
      <%= link_to "Unfollow", user_unfriend_path(@user), method: :delete, class: "text-white" %>
    <% end %>
    </h2>
  </div>
</div>
