<div class="navbar-lewagon">
  <div class="content">
   <%= link_to root_path do %><i class="fas fa-home icon"></i>
    <% end %>
    <%= link_to chatrooms_path do %><i class="far fa-comment icon"></i>
    <% end %>
    <div class="nav-plus">
      <%= link_to form_path do %><i class="fas fa-plus icon"></i>
        <% end %>
    </div>
    <%= link_to friendships_path do %>
    <i class="fas fa-user-friends icon"></i>
    <% end %>
    <%= link_to edit_user_registration_path, class: "m-0" do %>
      <%= image_tag current_user.avatar, class: "avatar-navbar" %>
    <% end %>
  </div>
</div>
