<div>
<div class="container">
  <%= image_tag 'logo.png', class:"logo-sign-up" %>
  <%= simple_form_for @event, url: events_path do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :sport, collection: Event::SPORTS %>
  <%= f.input :number_of_participants, collection: Event::PARTICIPANTNUM %>
  <%= f.input :address %>
  <%= f.input :time_of_event, as: :time, html5: true %>
  <%= f.button :submit, 'Create', class:"btn-orange" %>
  <% end %>
</div>
<div style="height: 90px;"></div>
</div>
