<%# <div class="container"> %>

  <div class="event-wrapper-with-button">
    <div class="event-details-wrapper">
      <div class="title-event">
        <%= image_tag @event.user.avatar, class: "card-event-avatar" %>
        <h2><%= @event.title %></h2>
      </div>

      <div class="info-bar">
        <p><%= @event.time_of_event.strftime("%H:%M") %></p>
        <%= image_tag @event.image_source, class: "card-event-timeofday-icon" %>
        <p>📍 <%= @event.address %></p>
      </div>

      <div class="description-event">
        <p><%= @event.description %></p>
      </div>

      <div class="participants-event">
        <% @event_users.each do |event_user| %>
          <%= image_tag event_user.avatar, class: "card-event-avatar" %>
        <% end %>
      </div>
    </div>

      <%= link_to 'Join', '#', class: "btn-purple join-btn" %>
  </div>

<%# </div> %>
