<!-- app/views/events/show.html.erb -->
<% content_for :meta_title, "#{@event.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @event.description %>

  <%# <div class="container"> %>
<div class="show-page-image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path "#{@event.sport}.jpg" %>)">
  <div class="home-container">
    <p class="back-btn"><%= link_to '< Back', events_path %></p>

    <div class="event-wrapper-with-button">
      <div class="event-details-wrapper">
        <div class="title-event">
          <%= link_to user_path(@event.user) do %>
            <%= cl_image_tag @event.user.avatar.key, class: "card-event-avatar" %>
          <% end %>
          <h2><%= @event.title %></h2>
        </div>

        <div class="info-bar">
          <p>Time: <%= @event.time_of_event.strftime("%H:%M") %></p>
          <br>
          <p><i class="fas fa-map-marker-alt"></i> <%= @event.address %></p>
        </div>

        <div class="description-event">
          <p><%= @event.description %></p>
          <p>Participants: </p>
          <div class="description-event-participants">
            <% @event_users.each do |event_user| %>
              <%= link_to user_path(event_user) do %>
                <%= cl_image_tag event_user.avatar.key, class: "card-event-avatar" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% if @event_user %>
          <%= link_to 'Leave', event_user_event_path(@event, @event_user), method: :delete, class: "btn-purple join-btn" %>
        <% else  %>
          <%= link_to 'Join', event_user_events_path(@event), method: :post, class: "btn-purple join-btn" %>
        <% end %>
      </div>
      <div id="map" style="width: 100%; height: 100%;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
