<div class="friendship-page">
<h1>Friends</h1>

  <div>
    <h3>Online <i class="fas fa-caret-down"></i></h3>
    <% @friendships.each do |friendship|  %>
      <div class="card-friend">
        <%= link_to user_path(friendship.friend) do %>
          <%= cl_image_tag friendship.friend.avatar.key, class:"avatar" %>
        <% end %>
        <div class="card-friend-username">
          <p><%= friendship.friend.user_name %></p>
        </div>
        <div class="card-friend-action">
          <p class="online-btn"><i class="fas fa-circle"></i> Online</p>
          <% chatroom = Chatroom.find_by(receiver: friendship.friend, sender: current_user) %>
          <% if chatroom %>
            <%= link_to 'Message', chatroom_path(chatroom), class: "btn-purple-small"%>
          <% else %>
            <%= link_to 'Message', user_chatrooms_path(friendship.friend), method: :post, class: 'btn-purple-small' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="people-you-may-know">
      <h3>You may know</h3>
      <% @non_friends.limit(3).each do |non_friend| %>
        <div class="card-friend">
          <%= link_to user_path(non_friend) do  %>
            <%= cl_image_tag non_friend.avatar.key, class: "avatar"%>
          <% end %>
          <div class="card-friend-username">
            <p><%= non_friend.user_name%></p>
          </div>
          <%= link_to 'Follow', user_friendships_path(non_friend), method: :post, remote: true, class:'btn-purple-small' %>
          <%# <br> %>
        </div>
      <% end %>
    </div>
  </div>
</div>
