<div class="friendship-page">
<h1>Friends</h1>

  <div>
    <h2>Online <i class="fas fa-caret-down"></i></h2>
    <% @friendships.each do |friendship|  %>
        <div class="card-event">
          <%= link_to user_path(friendship.friend) do  %>
            <%= image_tag friendship.friend.avatar, class: "card-event-avatar friendship-avatar"%>
          <% end %>
          <div class="username-friendship">
            <%= friendship.friend.user_name %>
          </div>
          <p class="online-btn"><i class="fas fa-circle"></i> Online</p>
          <div>
            <% chatroom = Chatroom.find_by(receiver: friendship.friend, sender: current_user) %>
            <% if chatroom %>
              <%= link_to 'Message', chatroom_path(chatroom), class: "btn-purple-small follow-btn"%>
            <% else %>
              <%= link_to 'Message', user_chatrooms_path(friendship.friend), method: :post, class: 'btn-purple-small follow-btn' %>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="people-you-may-know">
      <h2>You may know</h2>
      <% @non_friends.limit(3).each do |non_friend| %>
        <div class="card-event">
          <%= image_tag non_friend.avatar, class: "card-event-avatar friendship-avatar"%>
          <div class="username-friendship">
            <%= non_friend.user_name%>
          </div>
          <%= link_to 'Follow', user_friendships_path(non_friend), method: :post, remote: true, class:'btn-purple-small follow-btn' %>
          <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
