<div class="form">
  <%= image_tag 'logo.png' %>
  <h1>When are you available tomorrow?</h1>

  <div data-controller="wizard">
    <%= simple_form_for @model, url: events_path, method: :get do |f|  %>
      <div data-wizard-target="step" class="selections">
            <%= f.input :morning,
                        as: :boolean,
                        checked_value: true,
                        unchecked_value: false,
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'category-wrapper',
                        item_wrapper_class: 'category-item',
                        input_html: {class: 'category-selector'} %>
          <%= f.input :afternoon,
                      as: :boolean,
                      checked_value: true,
                      unchecked_value: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'} %>
          <%= f.input :evening,
                      as: :boolean,
                      checked_value: true,
                      unchecked_value: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'} %>

          <div>
            <%= button_tag "Next", type: "button", class: "btn-orange",
              data: {
                action: "click->wizard#goToNext",
                next_step: "1"
              } %>
          </div>

      <div data-wizard-target="step" class="hidden">
        <%= f.input :surfing, as: :boolean %>
        <%= f.input :yoga, as: :boolean %>
        <%= f.input :swimming, as: :boolean %>
        <%= f.input :boxing, as: :boolean %>
        <%= f.input :hiking, as: :boolean %>
        <%= f.input :tennis, as: :boolean %>
        <%= f.input :crossfit, as: :boolean %>
        <%= f.input :running, as: :boolean %>
        div
        <%= button_tag "Previous", type: "button",
          data: {
            action: "click->wizard#goToPrevious",
            previous_step: "1"
          } %>

          <%= f.button :submit, class: "btn-primary", value: "See events", class:"btn-orange" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
